@{ 
    var Grid = (int[,])ViewData["Grid"];
}
<h2 style="text-align: center;">Game of Life</h2>

<form asp-controller="Demo" asp-action="RegisterInput" method="post">
    <div class="grid-container">
        @for (int i = 1; i < Grid.GetLength(0)-1; i++)
        {
            <div class="row">
                @for (int j = 1; j < Grid.GetLength(1)-1; j++)
                {
                    if (Grid[i, j] == 0)
                    {
                        <button type="submit" value="@i,@j" class="grid inactive"></button>
                    }
                    if (Grid[i, j] == 1)
                    {
                        <button type="submit" value="@i,@j" class="grid active"></button>
                    }
                    if (Grid[i, j] == 2)
                    {
                        <button type="submit" value="@i,@j" class="grid error"></button>
                    }
                }
            </div>
        }
    </div>
</form>